@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #F5F5F5;
  }
}

@font-face {
  font-family: "Chubbo";
  src: url('../public/fonts/chubbo/fonts/Chubbo-Regular.woff2') format('woff2'),
       url('../public/fonts/chubbo/fonts/Chubbo-Regular.woff') format('woff'),
       url('../public/fonts/chubbo/fonts/Chubbo-Regular.ttf') format('truetype');
  font-weight: 400; /* Use numerical value for normal */
}

@font-face {
  font-family: "Chubbo";
  src: url('../public/fonts/chubbo/fonts/Chubbo-Medium.woff2') format('woff2'),
       url('../public/fonts/chubbo/fonts/Chubbo-Medium.woff') format('woff'),
       url('../public/fonts/chubbo/fonts/Chubbo-Medium.ttf') format('truetype');
  font-weight: 500; /* Corrected to numerical value for medium */
}
