---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

---

<BaseLayout pageTitle="vlad rachev">
  <div class="flex justify-center items-center">
    <p>In Progress</p>
  </div>
</BaseLayout>
