---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
import { Code } from 'astro:components';
---

<BaseLayout pageTitle="vlad rachev"
  <div class="font-normal font-chubbo">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus erat vel neque sagittis cursus. Suspendisse ultrices lorem a dapibus tristique. Nulla molestie elementum volutpat. Fusce in magna elementum, tempor justo eget, molestie ex. Integer non nibh gravida, ornare eros semper, ullamcorper augue. Nullam at luctus odio. Duis fermentum ornare enim sed molestie. Sed egestas sapien vel feugiat rutrum. Suspendisse tincidunt sit amet orci et condimentum. Phasellus lacus ligula, dictum iaculis eleifend eu, tempus ut nibh.
  </div>
</BaseLayout>
