---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "notes";
const allPosts = await getCollection('notes');
---

<BaseLayout pageTitle={pageTitle}>
  <div class="py-10 px-4 font-barlow">
    <details open>
      <summary><span class="font-bold">2024</span></summary>
      <ul class="space-y-1  py-2">
        {allPosts.map((post) => {
          const fullSlug = `notes/${post.slug}`;
          return (
            <li class="grid grid-cols-[1fr,9fr] ml-6">
              <p class="">{new Intl.DateTimeFormat('en-US', {month: "short", day: "numeric"}).format(post.data.pubDate)} </p>
              <a href={fullSlug} class="font-medium italic underline">{post.data.title}</a>
            </li>
          );
        })}
      </ul>
    </details>
  </div>
</BaseLayout>
