<footer class="w-full py-4">
  <div class="flex flex-col justify-center items-center max-w-xl mx-auto mb-4">
    <ul class="flex justify-center space-x-4 items-center">
      <p class="text-center text-md">&copy; 2024</p>
      <li><a href="mailto:vlad@irregular.vc" target="_blank" rel="noopener noreferrer"><img src="/social-media/email.svg" alt="email me" class="h-7 w-7"></a></li>
      <li><a href="https://www.linkedin.com/in/vlad-rachev-9a1033114/" target="_blank" rel="noopener noreferrer"><img src="/social-media/linkedin.svg" alt="LinkedIn" class="h-5 w-5"></a></li>
      <li><a href="https://github.com/vrachev" target="_blank" rel="noopener noreferrer"><img src="/social-media/github.svg" alt="GitHub" class="h-6 w-6"></a></li>
      <li><a href="https://twitter.com/VladRachev" target="_blank" rel="noopener noreferrer"><img src="/social-media/twitter.svg" alt="Twitter" class="h-7 w-7"></a></li>
      <li><a href="https://github.com/vrachev/vladrachevcom" target="_blank" rel="noopener noreferrer"><img src="/social-media/sourcecode.svg" alt="Source Code" class="h-6 w-6"></a></li>
    </ul>
    <div class="flex justify-center italic font-barlow text-sm opacity-50">
      <a href="/LICENSE.md" target="_blank" rel="noopener noreferrer">Read the license</a>
    </div>
    </div>
  </div>
</footer>
