<footer class="w-full fixed bottom-2">
  <div class="container mx-auto px-4 py-2">
    <ul class="flex justify-center space-x-4 items-center">
      <p class="text-center text-md">&copy; 2024</p>
      <li><a href="mailto:vlad@irregular.vc" target="_blank" rel="noopener noreferrer"><img src="/public/social-media/email.svg" alt="email me" class="h-7 w-7"></a></li>
      <li><a href="https://www.linkedin.com/in/vlad-rachev-9a1033114/" target="_blank" rel="noopener noreferrer"><img src="/public/social-media/linkedin.svg" alt="LinkedIn" class="h-5 w-5"></a></li>
      <li><a href="https://github.com/vrachev" target="_blank" rel="noopener noreferrer"><img src="/public/social-media/github.svg" alt="GitHub" class="h-6 w-6"></a></li>
      <li><a href="https://twitter.com/VladRachev" target="_blank" rel="noopener noreferrer"><img src="/public/social-media/twitter.svg" alt="Twitter" class="h-7 w-7"></a></li>
    </ul>
  </div>
</footer>
