---
import imageUrl from '@/public/vlad_logo.png';
---

<a href="/" class="relative flex flex-col items-start top-3">
  <img
    src={imageUrl.src}
    alt="Sheep Icon"
    class="w-24 h-auto"
  />
  <p class="font-normal font-chubbo ml-1">vlad rachev</p>
</a>
