---
import Logo from "../components/Logo.astro";
---

<nav class="w-full">
  <div class="flex justify-between items-center max-w-2xl mx-auto w-full">
    <Logo />
    <div class="flex flex-wrap items-center space-x-2 text-md font-normal font-chubbo">
      <a href="/">home</a>
      <a href="/notes">notes</a>
      <a href="/favorites">favorites</a>
      <a href="/thisweek">this week</a>
    </div>
  </div>
</nav>
