---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="flex flex-col min-h-screen w-full p-4">
    <!-- Using flex-1 on the main element to occupy all available space and center content -->
    <Nav />
    <main class="flex flex-1 flex-col items-center mx-auto max-w-xl p-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>
