---
import BaseLayout from "./BaseLayout.astro";
import '../styles/global.css';

const { content } = Astro.props;
---

<BaseLayout pageTitle={content.title}>
  <div class="markdown">
    <h1>{content.title}</h1>
    <br/>
    <slot />
  </div>
</BaseLayout>
